.footer-top{
	position: relative;
}
.footer-top{
    background: url(../images/ftr-bg.jpg);
    background-repeat: repeat-x;
    background-position: center bottom;
}
.ftr-top-cntlr {
    display: flex;
    flex-wrap: wrap;
    padding-top: 200px;
    padding-bottom: 58px;
    align-items: flex-end;
}
.ftr-logo a{
	display: inline-block;
}
.ftr-top-rgt,
.ftr-top-lft {
    width: 50%;
}
.ftr-details {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -25px;
}
.ftr-details-col{
	width: 50%;
	padding: 0 25px;
}
.ftr-add-one a {
    font-family: 'MyriadPro-LightSemiCn';
    text-decoration: none;
    line-height: 1;
    color: #fff;
    display: inline-block;
    font-size: 23px;
    font-weight: 300;
}
.ftr-add-two a {
    font-family: 'MyriadPro-BoldSemiCn';
    text-decoration: none;
    line-height: 0.8;
    color: #fff;
    font-size: 30px;
    padding-bottom: 12px;
    display: inline-block;
    text-transform: uppercase;
}
.ftr-add-one {
    padding: 10px;
    background: #58575b;
}
.ftr-add-two{
	background: #2657b5;
	text-align: right;
	padding: 14px;
}
.ftr-tel a{
	padding-bottom: 0;
}
.footer-btm {
    background: #e2e2e2;
}
.footer-btm-cntlr {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 9px 0;
}
.ftr-menu ul li a,
.ftr-copyright p {
    margin-bottom: 0;
    line-height: 1;
    font-size: 15px;
    text-transform: uppercase;
    color: #3b393e;
    font-weight: 400;
}
.ftr-menu {
    margin-left: auto;
}
.ftr-menu ul{
	display: flex;
	align-items: center;
}
.ftr-menu ul li{
	padding: 0 20px;
}
.ftr-menu ul li a{
	text-decoration: none;
}
.ftr-menu ul li a:hover{
	color: #0039a8;
}



@media (max-width: 1699px){
	.ftr-add-two{
		padding: 13px;
	}
	.ftr-add-two a{
		font-size: 28px;
	}
	.ftr-add-one{
		padding-bottom: 7px;
	}
    .ftr-details{
        margin: 0 -15px;
    }
    .ftr-details-col{
        padding: 0 15px;
    }
    .ftr-menu ul{
        margin: 0 -15px;
    }
    .ftr-menu ul li {
        padding: 0 15px;
    }
}
@media (max-width: 1199px){
    .ftr-logo {
        max-width: 280px;
        width: 100%;
    }
    .ftr-add-one a{
        font-size: 21px;
    }
    .ftr-add-two a {
        font-size: 24px;
        padding-bottom: 8px;
    }
    .ftr-add-one {
        padding-bottom: 10px;
    }
}
@media (max-width: 991px){
    .ftr-logo {
        max-width: 250px;
    }
    .ftr-add-one a {
        font-size: 18px;
    }
    .ftr-details{
        margin: 0 -10px;
    }
    .ftr-details-col{
        padding: 0 10px;
    }
    .ftr-add-two {
        padding: 10px;
    }
    .ftr-add-two a {
        font-size: 19px;
        padding-bottom: 5px;
    }
}
@media (max-width: 767px){
    .ftr-top-rgt, 
    .ftr-top-lft {
        width: 100%;
    }
    .ftr-logo{
        margin: 0 auto;
        margin-bottom: 55px;
    }
    .ftr-details{
        margin: 0;
    }
    .ftr-details-col{
        width: 55%;
        padding: 0;
        margin-left: auto;
    }
    .ftr-add-two a {
        font-size: 29px;
        padding-bottom: 15px;
    }
    .ftr-top-cntlr{
        padding-bottom: 40px;
    }
    .ftr-add-two {
        padding-right: 20px;
    }
    .ftr-add-rgt {
        margin-right: -20px;
    }
    .footer-btm-cntlr{
        justify-content: center;
    }
     .ftr-copyright p{
        font-size: 22px;
     }
}
@media (max-width: 575px){
    .ftr-logo {
        max-width: 230px;
    }
    .ftr-add-two a {
        font-size: 26px;
        padding-bottom: 12px;
    }
    .ftr-copyright p {
        font-size: 20px;
    }
    .ftr-details-col {
        width: 60%;
    }
    .ftr-add-two a {
        font-size: 17px;
        padding-bottom: 0px;
    }
    .ftr-add-two {
        padding: 5px;
        padding-right: 20px;
    }
}
@media (max-width: 479px){
    .ftr-copyright p {
        font-size: 15px;
    }
}
@media (max-width: 359px){
    .ftr-copyright p {
        font-size: 13px;
    }
}