.hm-page-bnr-cntlr{
	position: relative;
	text-align: center;
}
.hm-page-banner{
	height: 932px;
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.page-banner-bg{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.hm-page-bnr-des{
	position: relative;
	z-index: 3;

}
.hm-page-bnr-des-inr{
	color: #fff;
	position: relative;
}


.hm-page-bnr-des{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 50px;
	background: url('../images/hm-page-bnr-des-img.png');
	background-size: cover!important;
	background-position: center center!important;
	color: #fff;
	text-align: right;
}
.hm-page-bnr-des-inr div{
	padding-top: 10px;
}
.hm-page-bnr-sub-title,
.hm-page-bnr-title{
	margin-bottom: 0px;
	color: #ffffff;
}
.hm-page-bnr-title {
    line-height: 0.8;
}
.hm-page-bnr-sub-title {
    padding-right: 50px;
}



hr {
    margin-top: 0;
    padding-top: 30px;
    margin-bottom: 50px;
    border-top: none;
    border-bottom: 6px solid #f1f1f1;
}
.rgh-content-sec {
    padding-top: 30px;
    padding-bottom: 40px;
}


@media (max-width: 1699px){
	.hm-page-bnr-sub-title {
    	padding-right: 45px;
	}
}
@media (max-width: 1199px){
	.hm-page-bnr-sub-title {
    	padding-right: 40px;
	}
}
@media (max-width: 991px){
	.hm-page-banner{
		height: 600px;
	}
	.hm-page-bnr-des{
		bottom: 40px;
	}
	.hm-page-bnr-sub-title {
    	padding-right: 35px;
	}
}
@media (max-width: 767px){
	.hm-page-banner{
		height: 565px;
	}
	.hm-page-bnr-des{
		bottom: 30px;
	}
	.hm-page-bnr-sub-title {
    	padding-right: 30px;
	}
}
@media (max-width: 575px){
	.hm-page-banner{
		height: 450px;
	}
	.hm-page-bnr-des{
		bottom: 24px;
	}
	h1.hm-page-bnr-title{
		font-size: 40px;
	}
	h2.hm-page-bnr-sub-title{
		font-size: 34px;
	}
	.hm-page-bnr-sub-title {
    	padding-right: 25px;
	}

}
@media (max-width: 479px){
	h1.hm-page-bnr-title {
    	font-size: 36px;
	}
	h2.hm-page-bnr-sub-title {
    	font-size: 30px;
	}
	.hm-page-bnr-sub-title {
    	padding-right: 16px;
	}
}
@media (max-width: 359px){
	h1.hm-page-bnr-title {
    	font-size: 30px;
	}
	h2.hm-page-bnr-sub-title {
    	font-size: 26px;
	}
}