.page-banner-cntlr{
	position: relative;
	text-align: center;
}
.page-banner{
	height: 144px;
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}
.page-banner-bg{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.page-bnr-des{
	position: relative;
	z-index: 3;

}
.page-bnr-des-inr{
	color: #fff;
	position: relative;
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
	padding-bottom: 10px;
	padding-left: 16px;
}
ul li {
	padding: 5px 0 15px 22px;
	position: relative;
	line-height: 22px;
}
ul li::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	background: #0039a8;
	border-radius: 100%;
	width: 10px;
	height: 10px;
	margin-top: 12px;
}

ol{
	list-style: none;
	margin: 0;
	padding: 0;
	padding-bottom: 10px;
	padding-left: 16px;
	counter-reset: my-awesome-counter;
	-ms-counter-reset: my-awesome-counter;
	-webkit-counter-reset: my-awesome-counter;
}
ol li {
	padding: 5px 0 15px 22px;
	position: relative;
	line-height: 22px;
	counter-increment: my-awesome-counter;
	-ms-counter-increment: my-awesome-counter;
	-webkit-counter-increment: my-awesome-counter;
}
ol li::before {
	content: counter(my-awesome-counter) ".";
	position: absolute;
	left: 0;
	top: 0;
	color: #0039a8;
	font-weight: 700;
	line-height: 16px;
	text-align: center;
	margin-top: 8px;
}