
@font-face {
    font-family: 'MyriadPro-BoldSemiCn';
    src: url('MyriadPro-BoldSemiCn/MyriadPro-BoldSemiCn.eot');
    src: url('MyriadPro-BoldSemiCn/MyriadPro-BoldSemiCn.eot?#iefix') format('embedded-opentype'),
        url('MyriadPro-BoldSemiCn/MyriadPro-BoldSemiCn.woff2') format('woff2'),
        url('MyriadPro-BoldSemiCn/MyriadPro-BoldSemiCn.woff') format('woff'),
        url('MyriadPro-BoldSemiCn/MyriadPro-BoldSemiCn.ttf') format('truetype'),
        url('MyriadPro-BoldSemiCn/MyriadPro-BoldSemiCn.svg#MyriadPro-BoldSemiCn') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MyriadPro-LightSemiCn';
    src: url('MyriadPro-LightSemiCn/MyriadPro-LightSemiCn.eot');
    src: url('MyriadPro-LightSemiCn/MyriadPro-LightSemiCn.eot?#iefix') format('embedded-opentype'),
        url('MyriadPro-LightSemiCn/MyriadPro-LightSemiCn.woff2') format('woff2'),
        url('MyriadPro-LightSemiCn/MyriadPro-LightSemiCn.woff') format('woff'),
        url('MyriadPro-LightSemiCn/MyriadPro-LightSemiCn.ttf') format('truetype'),
        url('MyriadPro-LightSemiCn/MyriadPro-LightSemiCn.svg#MyriadPro-LightSemiCn') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'MyriadPro-BoldCond';
    src: url('MyriadPro-BoldCond/MyriadPro-BoldCond.eot');
    src: url('MyriadPro-BoldCond/MyriadPro-BoldCond.eot?#iefix') format('embedded-opentype'),
        url('MyriadPro-BoldCond/MyriadPro-BoldCond.woff2') format('woff2'),
        url('MyriadPro-BoldCond/MyriadPro-BoldCond.woff') format('woff'),
        url('MyriadPro-BoldCond/MyriadPro-BoldCond.ttf') format('truetype'),
        url('MyriadPro-BoldCond/MyriadPro-BoldCond.svg#MyriadPro-BoldCond') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
